@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

/* Enable dark class support */
@variant dark (&:where(.dark, .dark *));

/* Optional smooth theme */
html {
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

/* Custom breakpoint for very small devices */
@media (min-width: 480px) {
  .xs\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .xs\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  /* Add other xs utilities as needed */
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 3s ease infinite;
}

::-webkit-scrollbar{
  width: 0px !important;
}